<h2>Search Results:</h2>
<p class="results-paragraph">
Alderman: <%= alderman %>
</p>
<p class="results-paragraph">
Ward Number: <%= ward_number %>
</p>
<p class="results-paragraph">
Month/Year: <%= removal_month %>/<%= removal_year %>
</p>
<p class="results-paragraph">
TOTAL GRAFFITI REMOVAL REQUESTS: <%= total_request_count %>	
</p>